@import '../../assets/styles/colors';

.root {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	margin-top: 12px;
}

.labelContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.label {
	//@include font-15-demi-bold;
}

.options {
	display: flex;
	background-color: get-color('white', 1);
	gap: 4px;
	padding: 4px;
	position: relative;
	z-index: 0;
	border: 1px solid get-color('grey', 2);
	border-radius: 45px;
}

.tab {
	//@include font-15-medium;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: get-color('grey', 3);
	text-align: center;
	padding: 9px 0;
	transition: 0.3s linear;
	cursor: pointer;
	z-index: 1;
}

.activeTab {
	background-color: get-color('green', 2);
	color: get-color('white', 1);
	border-radius: 40px;
	position: absolute;
	top: 4px;
	height: calc(100% - 8px);
	z-index: 0;
	transition: 0.3s linear;
}
