@import "src/assets/styles/colors";

.menu {
  width: 399px;
  min-width: 399px;
  height: calc(100vh - 90px);
  border-right: 2px solid get-color("grey", 7);
  //position: absolute;

  &__tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;

    &_contents {
    }
  }

  &__tab {
    &_content {
      display: none;

      &:nth-child(2) {
        padding: 32px 32px 0;
      }
    }

    &_active {
      display: block;
      overflow: auto;
      height: calc(100vh - 186px);
    }
  }

  &__backgrounds {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
  }

  &__bg {
    width: 336px;
    height: 190px;
    cursor: pointer;

    & img {
      border-radius: 15px;
    }
  }
}
